body {
    background-color: whitesmoke;
}

.jumbotron {
    background-image: url("../Images/learning-2.jpg");
    background-size: cover;
}

.heading {
    margin-bottom: 20px;
}

.row {
    margin-top: 20px;
}

h2 .heading {
    display: inline-block;
}
